*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.swp
*/*.swp
.idea/caches/
.idea/codeStyles/
.idea/misc.xml
.idea/vcs.xml
app/proguard-rules.pro
tags

